<div class="item">

    {{ $data_type := .Site.Params.svg_data_type }}

    {{ $.Scratch.Set "link" .RelPermalink }}
    {{ with .Params.repo }}
        {{ $repoHost := default "github" $.Params.repoHost }}
        {{ if eq "github" $repoHost }}
            {{ printf "https://github.com/%s/%s/" $.Site.Params.githubUsername . | $.Scratch.Set "link" }}
        {{ else if eq "gitlab" $repoHost }}
            {{ printf "https://gitlab.com/%s/%s/" $.Site.Params.gitlabUsername . | $.Scratch.Set "link" }}
        {{ else if eq "bitbucket" $repoHost }}
            {{ printf "https://bitbucket.org/%s/%s/" $.Site.Params.bitbucketUsername . | $.Scratch.Set "link" }}
        {{ end }}
    {{ end }}
    {{ with .Params.link }} {{ $.Scratch.Set "link" . }} {{ end }}

    {{ partial "article_metadata.html" . }}

    {{/* .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") | $.Scratch.Set "pub_date" }}
    {{ with .Description }} {{ $.Scratch.Set "subtitle" . }} {{ end }}

    {{ $.Scratch.Set "read_time" "" }}
        {{ $read_time := printf " <i %s=\"%s\"></i> %d" $data_type .Site.Params.svg_clock .ReadingTime }}
        {{ $.Scratch.Add "read_time" $read_time }}

    {{ $.Scratch.Set "author" "" }}
    {{ if .Params.author }}
        {{ $auth := printf " <i %s=\"%s\"></i> %s" $data_type .Site.Params.svg_author .Params.author }}
        {{ $.Scratch.Add "author" $auth }}
    {{ end }}

    {{ if True }}
    <h4><a href="{{ .Scratch.Get "link" }}">{{ .Title }}</a></h4>
    <h5>{{ $.Scratch.Get "pub_date" }} {{ $.Scratch.Get "read_time" | safeHTML }} minutes{{ $.Scratch.Get "author" | safeHTML }}</h5>
    <h5>{{ $.Scratch.Get "subtitle" }}</h5>
    {{ end }}

    {{ range.Params.categories }}
        <a href="{{"/categories/"|relLangURL }}{{.|urlize}}">
            <kbd class="item-cat"> {{ . }} </kbd>
        </a>
    {{ end }}
    {{ range .Params.tags }}
        <a href="{{"/tags/"|relLangURL }}{{.|urlize}}">
            <kbd class="item-tag">{{ . }}</kbd> 
        </a>
    {{ end */}}

</div>
